body{
    margin: auto;
    width: 50%;
    text-align: center;
}
header{
    font: sans-serif;
    color: #FFFFFF;
    text-shadow: 2px 2px 5px #000000;
    padding: 10px;
}
img{
    border: 2px solid #BBBBBB;
    padding: 15px;
}