body{
    margin: auto;
    width: 50%;
    text-align: center;
    background-color: #dfdfdf;
}
header{
    font: sans-serif;
    color: #000;
    text-shadow: 2px 2px 5px #bbb;
    padding: 10px;
}
img{
    box-shadow: 10px 10px 5px #bbb;
    padding: 15px;
}